* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

li {
    list-style: none;
}

html, body, #app, main {
    height: 100%;
}

main {
    display: flex;
    justify-content: space-between;

    padding: 2rem 5rem;
}

#grid .content {
    display: flex;
    align-items: flex-start;
    gap: 0.5rem;
}

#grid .labels {
    display: grid;
    gap: 0.8rem;
    translate: 0 -0.7rem;
}

#grid .labels li {
    font-size: 0.9em;
}

#grid .body {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    /* column-gap: 0.2em; */

    /* border: 1px solid black; */
}

#grid .body li {
    display: grid;

    height: 1rem;

    border: 1px solid black;
    border-bottom-width: 0;
}

#grid .body li:nth-of-type(n + 218) {
    border-bottom-width: 1px;
}

#grid .body li div {
    width: 1rem;
}

#body .legend ul {
    display: flex;
    justify-content: space-between;
}