* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
    --page-padding-vertical: 2rem;
}

li {
    list-style: none;
}

html, body, #app, main {
    min-height: 100%;
}

main {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    padding: var(--page-padding-vertical) 5rem;
}

#grid {
    position: sticky;
    top: var(--page-padding-vertical);

    display: flex;
    align-items: flex-start;
    gap: 0.5rem;
}

#grid .content {
    display: grid;
    gap: 1rem;
}

#grid .labels {
    display: grid;
    gap: 0.79rem;
    translate: 0 calc(-0.7rem + 1.4em);
}

#grid .labels li {
    font-weight: 600;
    font-size: 0.9em;
}

#grid .body {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    column-gap: 0.2em;
}

#grid .body li {
    display: grid;

    height: 1rem;

    border-style: solid;
    border-color: black;
    border-width: 1px 3px 0 3px;
}

#grid .body .day {
    text-align: center;
    font-weight: 600;

    height: unset;
    border: none;
}

#grid .body .odd {
    border-bottom-width: 2px;
}

#grid .body li:nth-of-type(-n + 14) {
    border-top-width: 3px;
}

#grid .body li:nth-of-type(n + 225) {
    border-bottom-width: 3px;
}

#grid .body li div {
    width: 1rem;
}

#grid .legend {
    display: grid;
    gap: 0.5rem;
}

#grid .legend div > p {
    font-size: 0.8rem;
}

#grid .legend ul {
    display: flex;
    gap: 1rem;
}

#grid .legend li {
    display: flex;
    align-items: center;
    gap: 0.2rem;

    cursor: pointer;
}

#grid .legend li div {
    height: 1rem;
    width: 1rem;

    border: 1px solid black;
}

#grid .legend li p {
    font-weight: 600;
}

#lists > ul {
    display: grid;
    grid-template-columns: auto auto;
    gap: 2rem;
}

#lists .members li {
    display: flex;
    align-items: center;
    gap: 0.2rem;
}

#lists .members li div {
    height: 1rem;
    width: 1rem;

    border: 1px solid black;
}

#lists .members li p {
    font-weight: 600;
}

#lists .list {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 0.2em;
}

#lists .list .hours {
    font-weight: 600;
}